<div class="w-full max-w-7xl mx-auto py-3">
    <div class=" w-full h-20 flex items-center justify-between p-2 text-black dark:text-white">
        <div class="border-name-left-container">
            <div class="border-right-container w-full flex items-end justify-end">
                <div class="w-5 h-5 border-t-4 border-r-4 border-orange-500"></div>
            </div>
            <h3 class="side-logo-text text-black dark:text-white font-bold shrink-0 ">Created By Volkan Filazi</h3>
            <div class="border-left-container w-full flex items-start justify-start">
                <div class="w-5 h-5 border-b-4 border-l-4 border-orange-500"></div>
            </div>
        </div>
        <div class="social-media-images flex gap-10">
            <a href="https://www.linkedin.com/in/volkan-filazi-ba49b0239/">
                <iconify-icon icon="bi:linkedin" width="32" height="32"></iconify-icon>
            </a>
            <a href="https://github.com/volkanfilazi">
                <iconify-icon icon="fa-brands:github-square" width="32" height="32"></iconify-icon>
            </a>
            <a href="https://www.facebook.com/profile.php?id=850434189">
                <iconify-icon icon="akar-icons:facebook-fill" width="32" height="32"></iconify-icon>
            </a>
        </div>
        <div class="cursor-pointer pl-5 flex flex-col">
            <a href="privacy-policy.html">Privacy Policy</a>
            <a href="imprint.html">Imprint</a>
        </div>
    </div>
</div>