<div class="mt-5">
    <div class="flex w-full items-center">
        <div class="flex justify-center items-center">
            <div class="border-[1px] w-5 h-5 rounded-full p-2 border-gray-700"></div>
            <div
                class="social-media-ping flex justify-center items-center w-3 h-3 absolute bg-orange-500 opacity-75 animate-ping z-10 rounded-full text-black dark:text-white">
            </div>
        </div>
        <div class="border-b-[1px] w-full border-gray-700"></div>
        <div>
            <div class="titleEfect flex items-center justify-center text-4xl">
                <iconify-icon icon="material-symbols:mail-outline-sharp" width="48" height="48"></iconify-icon>
                CONTACT
            </div>
        </div>
        <div class="border-b-[1px] w-full border-gray-700"></div>
        <div class="flex justify-center items-center">
            <div class="border-[1px] w-5 h-5 rounded-full p-2 border-gray-700"></div>
            <div
                class="social-media-ping flex justify-center items-center w-3 h-3 absolute bg-orange-500 opacity-75 animate-ping z-10 rounded-full text-black dark:text-white">
            </div>
        </div>
    </div>
    </hr>
    <div class="form-container flex flex-col gap-5 mt-5 justify-center items-center">
        <div class="flex justify-center items-center gap-5">
            <div class="flex flex-col">
                <label class="nameLabel text-black dark:text-white" for="nameInput">Name</label>
                <input id="nameInput" placeholder="exm.John"
                    class="w-full bg-transparent border-[1px] placeholder:text-gray-600 focus:placeholder:text-black dark:focus:placeholder:text-gray-500 dark:text-white outline-none border-orange-500 rounded-xl p-2"
                    type="text">
            </div>
            <div class="flex flex-col">
                <label class=" lastNameLabel text-black dark:text-white" for="lastName">LastName</label>
                <input id="lastNameInput" placeholder="exm.Smith"
                    class="w-full  bg-transparent border-[1px] placeholder:text-gray-600 focus:placeholder:text-black dark:focus:placeholder:text-gray-500 dark:text-white outline-none border-orange-500 rounded-xl p-2"
                    type="text">
            </div>
            <div class="flex flex-col">
                <label class=" emailLabel text-black dark:text-white" for="lastName">Email</label>
                <input id="emailInput" placeholder="example@domain.com"
                    class="w-full  bg-transparent border-[1px] placeholder:text-gray-600 focus:placeholder:text-black dark:focus:placeholder:text-gray-500 dark:text-white outline-none border-orange-500 rounded-xl p-2"
                    type="text">
            </div>
        </div>
        <div class="flex flex-col w-3/4 items-center">
            <label class="textAreaLabel" for="textAreaInput">Message</label>
            <textarea id="textAreaInput" placeholder="To Write"
                class="w-full  bg-transparent placeholder:text-gray-600 focus:placeholder:text-black dark:focus:placeholder:text-gray-500 dark:text-white outline-none border-[1px] h-[200px] border-orange-500 rounded-xl p-2"
                type="text"></textarea>
            <button class="submitButton mt-10 focus:">Submit
                Message</button>
        </div>
    </div>
    <div class="form-completed-container  flex-col justify-center items-center hidden p-5">
        <p class="text-green-500">Your Message Successfuly sendet!</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="10em" height="10em" preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24">
            <path fill="green" fill-rule="evenodd"
                d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11s11-4.925 11-11S18.075 1 12 1Zm4.768 9.14a1 1 0 1 0-1.536-1.28l-4.3 5.159l-2.225-2.226a1 1 0 0 0-1.414 1.414l3 3a1 1 0 0 0 1.475-.067l5-6Z"
                clip-rule="evenodd" />
        </svg>
    </div>
</div>